@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definimos os valores exatos de RGB das cores padrão do Tailwind */
:root {
  --slate-50: 248 250 252;
  --slate-100: 241 245 249;
  --slate-200: 226 232 240;
  --slate-300: 203 213 225;
  --slate-400: 148 163 184;
  --slate-500: 100 116 139;
  --slate-600: 71 85 105;
  --slate-700: 51 65 85;
  --slate-800: 30 41 59;
  --slate-900: 15 23 42;
  --slate-950: 2 6 23;

  --teal-50: 240 253 250;
  --teal-100: 204 251 241;
  --teal-200: 153 246 228;
  --teal-300: 94 234 212;
  --teal-400: 45 212 191;
  --teal-500: 20 184 166;
  --teal-600: 13 148 136;
  --teal-700: 15 118 110;
  --teal-800: 17 94 89;
  --teal-900: 19 78 74;
  --teal-950: 4 47 46;

  --emerald-50: 236 253 245;
  --emerald-100: 209 250 229;
  --emerald-200: 167 243 208;
  --emerald-300: 110 231 183;
  --emerald-400: 52 211 153;
  --emerald-500: 16 185 129;
  --emerald-600: 5 150 105;
  --emerald-700: 4 120 87;
  --emerald-800: 6 95 70;
  --emerald-900: 6 78 59;
  --emerald-950: 2 44 34;

  --amber-50: 255 251 235;
  --amber-100: 254 243 199;
  --amber-200: 253 230 138;
  --amber-300: 252 211 77;
  --amber-400: 251 191 36;
  --amber-500: 245 158 11;
  --amber-600: 217 119 6;
  --amber-700: 180 83 9;
  --amber-800: 146 64 14;
  --amber-900: 120 53 15;
  --amber-950: 69 26 3;

  --red-50: 254 242 242;
  --red-100: 254 226 226;
  --red-200: 254 202 202;
  --red-300: 252 165 165;
  --red-400: 248 113 113;
  --red-500: 239 68 68;
  --red-600: 220 38 38;
  --red-700: 185 28 28;
  --red-800: 153 27 27;
  --red-900: 127 29 29;
  --red-950: 69 10 10;
}

/* Configuração do esquema de cores do navegador */
html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

/* Estilos de fundo e texto padrão para evitar flashes ao carregar */
body {
  background-color: rgb(var(--slate-50));
  color: rgb(var(--slate-900));
}

html.dark body {
  background-color: rgb(var(--slate-950));
  color: rgb(var(--slate-100));
}
